<p><i class="fa fa-brands fa-gitlab fa-lg fa-fw"></i> <a href="https://gitlab.com/thegops/" target="_blank">@thegops</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/thibferr76/" target="_blank">@thegops</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://fr.linkedin.com/in/thibault-p-ferrand-8481b5a3" target="_blank">thibault-p-ferrand</a></p>
<p><i class="fa fa-html5 fa-lg fa-fw"></i> <a href="http://thegops.tk/" target="_blank">thegops.tk</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:thibault.p.ferrand@protonmail.com" target="_blank">thibault.p.ferrand</a></p>
<!--<p><i class="fa fa-mobile fa-lg fa-fw"></i> <a href="tel:+33634567654" target="_blank">0634567654</a></p>-->
